html{
    background-color: #045;
    color: white;
    font-family: Coolvetica;
    margin: 0;
    padding: 0;
}

body {
border-radius: 10%;
position:fixed;
top:25%;
left: 25%;
overflow:hidden;
background-color: #001;
}

#conteiner{
   width: 400px;
   height: 400px;
   overflow-y: scroll;
   scrollbar-width:none;
}

#conteiner::-webkit-scrollbar {
    display: none;
}

p, h2{
    margin: 20px;
}